<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.1.1" package="com.versatilesofware" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="29" android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application android:roundIcon="@mipmap/icon_round" android:label="League of News" android:theme="@style/MyTheme.Splash" android:icon="@mipmap/Icon">
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
</manifest>